.ok{
    height: 489px;
   width: 100%;
}

.btn-primary btn btn-primary {
    background-color: rgba(216,164,127);
}

.Iframe{
    padding: 10px;
}

img:active{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    max-width: 50%;
}

 h3{
     color : rgba(39,41,50);
     -webkit-text-stroke: 0.3px rgb(255, 255, 255);
 }
