.footer{
    Background-color : rgb(33, 36, 37);
    color: whitesmoke;
    font-style: italic;
    font-size: smaller;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    width : 100%;
    display: flex;
    
}
.footer a {
font-size: xx-small;
}

.firstColum {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width : 50%;
    
}
.secondColumn {
   display: flex;
   
  justify-content: center;

}

.truc{
    max-width: 30px;
    height : 20px;
    margin : 5px ;
    display: flex;
    justify-content: center;

    
}

a {
    font-size: small;

}